body {
    text-align: center;
}

.quadrado {
    text-align: center;
    width: 50px;
    background: lightblue; 
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.jogador, .vencedor {
    font-size: 38px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: lightblue;
    cursor: pointer;
}